*{
    background-image: url();
    
}
.login{
       height: 400px;
       width: 600px;
       border: solid black 5px;
       background: rgb(158, 174, 165);
       margin: 100px auto;
       border-radius: 10px;

}
h1{
    margin: 20px 160px;
    font-size: 50px;
}
.text{
    margin-left: 10px;
    border-radius: 5px;  
    font-size: 30px;
}
.text2{
   
    margin-left: 32px;
    font-size: 30px;
}
.btn
{
    background: rgb(24, 148, 214);
    margin-left: 40px;
    border-radius: 5px;
    font-size: 20px;

}
label{
    margin-left: 10px;
    font-size: 30px;
}