{%include 'navbar.html'%}
<style>

    #r1{
        height: 100px;
        width: 100%;
        background: rgb(162, 152, 152);
        text-align: center;
        font-size: 60px;
    }
    .box{
        background:  rgb(199, 195, 195);
        height: 530px;
        padding-left: 400px;
    }
    #form{
       padding-top: 50px;
    }
</style>
<div id="r1">Registration from<div>
<div class="box">
<form action="" method="post" id="form">
    {%csrf_token%}
    <table>
        {{form.as_table}}
        <tr>
            <td><input type="submit" value="submit"></td>
            <td><input type="reset" value="reset"></td>

        </tr>
    </table>
</form>
</div>