{%include 'navbar.html'%}
<style>

   
   .box{
        background: rgb(220, 238, 136);
        border: 2px solid black; 
        height: 500px;
        width: 800px;
        padding-left: 100px;
        margin-left: 350px;
        margin-top: 70px;
    }
    #form{
       padding-top: 50px;
    }
    h1{
        margin-top:5px;
        padding-top: 50px;
        margin-left: 130px;
    }
</style>
<div class="main">
<div class="box">
<h1>Registration from</h1>
<form action="" method="post" id="form">
    {%csrf_token%}
    <table>
        {{form.as_table}}
        <tr>
            <td><input type="submit" value="submit"></td>
            <td><input type="reset" value="reset"></td>

        </tr>
    </table>
</form>
</div>
</div>