{%include 'navbar.html'%}

<h1>Cartlist</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Product Quantity</th>
        <th>Username</th>
        <th>Sub-Total</th>
        <th>Action</th>
    </tr>
    {%for i in cl%}
    <tr>
        <td>{{i.product.id}}</td>
        <td>{{i.product.p_name}}</td>
        <td>{{i.product.p_price}}</td>
        <td><input type="number" name="qty" value="1"></td>
        <td>{{i.user.username}}</td>
        <td><span>{{ i.product.p_price|floatformat:2 }}</span></td>
        <td><a href="delete/{{i.id}}">delete</a></td>

    </tr>
    {% endfor %}
    <!-- <tr>
        <td><input type="submit" value="Place-Order"></td>
        <td>Total-Bill: <span>50000/-</span></td>
    </tr> -->
</table>