{%include 'navbar.html'%}
{%load static%}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <!-- <link rel="stylesheet" type="textcss" href="{%static 'css/login.css'%}"> -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">   
    
    
</head>
<body>
       <div class="login">
        <h1>Login Form</h1>    
       <form action="" method="post">
       {%csrf_token%}
        <label>User Name</label>
        <input type="text" name="username" placeholder="username" class="text"><br><br>
        <label>Password</label>
        <input type="password" name="password" placeholder="password" class="text2"><br><br>
        <button class="btn">login</button>
        <button class="btn">Forget password</button>
       </form>
    </div>
</body>
</html>


